:root {
  --primary-color: #ffff;
  --secondary-color: #272142;
  --bg-color: #1b1b1b;
  --accent-color: #f65282;
  --heading-font-family: "Roboto", sans-serif;
  --default-font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-color)!important;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #202020;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  letter-spacing: .2rem;
}

.navbar {
  font-family: var(--heading-font-family);
}

.navbar-brand {
    padding: 20px 0;
    margin-left: 90px;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color)!important;
}

.navbar-nav {
    margin-right: 90px;
}

.nav-link {
  color: var(--primary-color)!important;
  font-size: 16px;
  font-weight: 500;
}

.navbar-toggler {
    background-color: #dee2e6!important;
}

.hero {
  text-align: center;
  background-image: url(/images/bg.png);
  background-position: center;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  padding: 314px;
}

.hero h2 {
  font-size: 24px;
  color: var(--primary-color);
  padding-bottom: 1%;
}

.hero h1, .hero-heading h1 {
  font-size: 72px;
  color: var(--primary-color);
}

.hero-heading {
  text-align: center;
}

.hero-heading h1 {
  margin-top: 73px;
  margin-bottom: 50px;
}

.contact-content-section {
  margin-bottom: 80px !important;
}

.hero-heading h3 {
  font-size: 14px;
  font-weight: bold;
  color: var(--accent-color);
}

.hero-heading p {
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 40px;
}

.hero p {
  font-family: var(--heading-font-family);
  font-weight: 400px;
  font-size: 18;
  color: var(--primary-color);
  padding-top: 3%;
  padding-bottom: 4%;
}

.btn-branding {
  position: sticky;
  padding: 17px 56px !important;
  font-family: var(--default-font-family) !important;
  font-size: 14px;
  background: white !important;
  border-radius: 50px !important;
  color: var(--secondary-color) !important;
  margin: 15px; 
}

.container {
    padding: 90px;
}

.row {
    padding-bottom: 34px;
}

@media (max-width: 994px)  {
 .container-fluid {
  justify-content: center;
}

.navbar-brand {
  font-size: 20px;
}

hero {
  padding: 286px 40px;
}

.hero h2 {
  font-size: 20px;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  display: none;
}

.btn-branding {
  padding: 14px 39px;
  margin: 131px;
}

.row {
  padding-bottom: 0;
}
}

.about-section-image {
  margin-top: -34px;
  margin-left: -300px;
}

.about-page-h2, .about-page-h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--accent-color);
}

.about-section-content h1 {
  color: var(--primary-color) !important;
  font-size: 64px;
}

.about-section-content p {
  color: var(--primary-color) !important;
  font-size: 18px;
}

.fa-brands {
  color: var(--primary-color) !important;
  margin: 5px;
}

.my-camera-info {
  color: var(--primary-color) !important;
  border-radius: 4%;
  background: #2d2727;
  padding: 24px 20px;
  margin-right: 221px;
}

a:link {
  color: #ffff;
}

a:visited {
  color: var(--accent-color);
}

.footer-container {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #282323;
  padding: 0;
  color: white;
}

.contact-page-footer-container {
  margin-top: 400px;
}

.footer-content {
  padding-bottom: 25px;
  padding-top: 25px;
}

.fa-square-github {
  color: var(--accent-color) !important;
}